body {
    text-align: center;
    background-color: #fbf8cb;
}
.first-tag {
color: #fb5a00;

}
/* . for classes and # for IDs */
#another_tag {
    color: #f8d04d;
}

div {
    padding: 4px;
}

button {
    background-color:#a00000;
    color: #fff;
}

#sub {
    background-color:#a00000;
    color: #fff;
}